<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Test</title>
</head>
<body  style="background-image: url({{ url_for('static', filename='images/bg.jpg') }})">

<h1 class="text-center"> {{ meassurements.prediccion }} </h1>

<div class = "container">
<table class="table table-responsive table-bordered text-center" style="table-layout:fixed;">
    <thead>
    <tr>
        <th class = "text-center" colspan="2" style="color: white">Parameters</th>
    </tr>
    </thead>
    <tbody>
     <tr>
        <td style="color: white">Metrica 1</td>
        <td style="color: white"> {{ meassurements.metrica_1 }}</td>
    </tr>
    <tr>
        <td style="color: white">Metrica 2</td>
        <td style="color: white">{{ meassurements.metrica_2 }}</td>
    </tbody>
</table>
</div>
</body>

<body>
    <div class="text-center">
        <button type="button" onclick="document.location='/main'" class="btn btn-primary mx-auto">Reintentar</button>
        <button type="button" onclick="document.location='/'" class="btn btn-primary">Salir</button>
    </div>
</body>

</html>